<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Greetings | Madlibs!</title>
    <link rel="stylesheet" href="/css/styles.css" />
  </head>

  <body>
    <form action="/madlib" method="POST">
        <input type="text" name="name" />
        <label for="name">Enter the name of a person:</label>

        <input type="text" name="color" />
        <label for="color">Enter a color: </label>

        <input type="text" name="noun" />
        <label for="noun">Enter a noun: </label>

        <input type="text" name="adjective" />
        <label for="adjective">Enter an adjective: </label>

        <button>Generate MadLib</button>
    </form>
  </body>

</html>